# Rust
/target
**/*.rs.bk
Cargo.lock

# Build Artifacts
debug/
release/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
*.log
*.tmp
*.bak
*.old

# Ambiente
.env
.env.*.local

# SQLx (se usar cache offline)
sqlx-data.json

# MacOS
.DS_Store

# Linux
*~

# Node (caso use scripts ou frontend embutido)
node_modules/
dist/

# Docker (se for usar docker depois)
*.tar
*.img
